* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  border: 1px solid black;
  width: 33.33%;
  aspect-ratio: 1;
}

.flex-item--hover {
  background: blue;
}
