@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* font-size set to 10px */
  font-family: "Oswald", sans-serif;
}

/* Set core body defaults */
body {
  min-height: 100vh;

  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;

  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  width: 100%;
  height: auto;
  aspect-ratio: attr(width) / attr(height);
}

.book-showcase {
  padding-top: 6rem;
  width: 90%;
  margin: 0 auto;
}

.book-showcase__title {
  text-align: center;
  margin-bottom: 4rem;
  font-weight: 400;
  font-size: 5rem;
}

.book-card-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 3rem;
}

.book-card {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: rgb(237, 237, 237);
  padding: 2rem 5rem;
}

.book-card:hover {
  background: rgb(83, 154, 220);
  transform: scale(1.15);
}

.book-card__title,
.book-card__author,
.book-card__pages,
.book-card__read {
  margin-bottom: 0.8rem;
}

.book-card__title {
  font-size: 3rem;
  color: rgb(139, 139, 139);
  margin-bottom: 2rem;
}

.book-card:hover .book-card__title,
.book-card:hover .book-card__author,
.book-card:hover .book-card__pages,
.book-card:hover .book-card__read {
  color: #fff;
}

.book-card__delete-btn {
  border-radius: 10px;
  border: 0;
  background-color: aquamarine;
  padding: 0.8rem 2rem;
}

.book-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(219, 219, 219, 0.4);
}

.book-modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-form-wrapper {
  width: 70%;
  margin: 0 auto;
  background-color: aliceblue;
  overflow: auto;
  padding: 10rem;
  position: relative;
}

.close {
  width: 30px;
  height: 30px;
  font-size: 40px;
  position: absolute;
  top: 5px;
  left: 20px;
}

.book-form input {
  display: flex;
  width: 50%;
  margin-bottom: 1.6rem;
}
